[submodule "Blaze/vendor/spdlog"]
	path = Blaze/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Blaze/vendor/GLFW"]
	path = Blaze/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Blaze/vendor/imgui"]
	path = Blaze/vendor/imgui
	url = https://github.com/TheCherno/imgui
