# Binaries
**/bin/
!vendor/premake/bin/
bin-int/

# Hazel files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Directories
Blaze/vendor/VulkanSDK
Blaze-Editor/assets/cache
scripts/__pycache__